body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: white;
}

ol, ul {
  padding-left: 30px;
}

.button {
}

div.gallery {
  display: flex-wrap;
  float: left;
  height: auto;
  margin: 10px;
}

h1 {
}

h2 {
}

div.gallery img {
  width:400px;
  height:auto;
  margin: 10px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.workDisplay {
  float: left;
  margin-right: 20px;
}

.bmpPreview {
  float: right;
  position: relative;
  margin-right: 20px;
}

.selectImageDisplay {
  float: left;
  margin: 20px;
  text-align: center;
  /*
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  */
}

.optionsDisplay {
  float:left;
  margin: 20px;
  width: 300px;
  text-align: center;
}

.buttonDisplay {
  float: left;
  margin: 20px;
  margin-top: 60px;
  text-align: center;
}

p.or {
  display: inline-block;
  margin-bottom: 30px;
}

#previewComponent{
  position: absolute;
}

.workImage {
  width:200px;
  height:auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.myButton {
  background-color: #EDEEF0;
  border: 2px solid #ffffff;
  color: black;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 40px;
  cursor: pointer;
}

.myForm {
  background-color: #FFFFFF;
  border: 2px solid #ffffff;
  color: black;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 40px;
  cursor: pointer;
}

.hide {
  display: none;
}
